* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#leaderboard-headlng {
  justify-self: flex-start;
  width: 34%;
  align-self: flex-start;
  margin-bottom: 2%;
  text-align: left;
  margin-left: 6%;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.score-list-div {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  width: 400px;
}

.refresh-score {
  display: flex;
  justify-content: space-between;
}

#refresh-btn {
  box-shadow: 2px 2px #000;
}

.add-yourScore {
  display: flex;
  flex-direction: column;
  gap: 6%;
}

.score-list {
  display: flex;
  flex-direction: column;
}

.score-list li {
  list-style: none;
  gap: 6px;
}

.score-list li:nth-child(even) {
  background-color: #ddd;
}

#submit-btn {
  width: 100px;
  align-self: flex-end;
  box-shadow: 2px 2px #000;
}
